
@font-face {
    font-family: 'Apple II';
    src: url('../appleii.ttf') format('truetype');
}

body {
    background-color: #000000;
    font-family: 'Apple II', sans-serif;
    color: cyan;
}
:root {
    --myorange: #da7701;
}

a {
    color: var(--myorange);
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
    text-decoration: none;
    color: black !important;
}

a:visited {
    color: var(--myorange);
    text-decoration: none;
}
