
@font-face {
    font-family: 'Apple II';
    src: url('../fonts/appleii.ttf') format('truetype');
}

body {
    background-color: black;
    font-family: 'Apple II', sans-serif !important;
    color: #08adad;
}

:root {
    --myorange: #c46b01;
}

a {
    color: var(--myorange);
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
    text-decoration: none;
    color: black !important;
}

a:visited {
    color: var(--myorange);
    text-decoration: none;
}

.accordion {
    background-color: black;
    font-family: 'Apple II', sans-serif !important;
    font-size: 18px;
    color: #1fa11f;
    /*width:95%;*/
    border: none;
    text-align: left;
    /*outline: none;*/

    transition: 0.4s;
}

.accordion:hover {
    background-color: lightgrey;
    color: black;
}

.panel {
    display: none;
    background-color: black;
    overflow: hidden;
}
