
@font-face {
    font-family: 'Apple II';
    /*src: url('../fonts/appleii.ttf') format('truetype');*/
    /*src: url('../fonts/berkelium.ttf') format('truetype');*/
    /*src: url('../fonts/s320.ttf') format('truetype');*/
    /*src: url('../fonts/s320h.ttf') format('truetype');*/
    /*src: url('../fonts/modeseven.ttf') format('truetype');*/
    src: url('../fonts/x.ttf') format('truetype');
}

body {
    background-color: black;
    font-family: 'Apple II', sans-serif !important;
    color: var(--mycyan);
    font-size: 20px;
}

p:hover {
    background-color: #4b4b4b;
    font-family: 'Apple II', sans-serif !important;
    color: var(--mycyan);
}

#header {
    text-align: center;
}

:root {
    --myorange: #c46b01;
    --mycyan: #08adad;
    --mygreen: #1fa11f;
    --mydarkgrey: #4b4b4b;
}

a {
    color: var(--myorange);
    text-decoration: none;
}

a:hover {
    background-color: var(--mydarkgrey);
    text-decoration: none;
    color: white !important;
}

a:visited {
    color: var(--myorange);
    text-decoration: none;
}

.accordion {
    background-color: black;
    font-family: 'Apple II', sans-serif !important;
    font-size: 22px;
    color: var(--mygreen);
    /*width:95%;*/
    border: none;
    text-align: left;
    /*outline: none;*/

    /*transition: 0.4s;*/
}

.accordion:hover {
    background-color: var(--mydarkgrey);
    color: white;
}

.panel {
    display: none;
    background-color: black;
    overflow: hidden;
}
